.footer-section{
    margin-top: 60px;
}
.footer-menu a{
    line-height: 46px;
}

.contact-info{
    line-height: 32px;
}

.input{
    border: 2px solid #3ee0aa;
    width: 350px;
}

.top-footer{
    margin: 30px 80px 80px 80px;
}

.middle-footer{
    margin: 30px 0;
}

.bottom-footer{
    margin: 0 80px;
}

hr{
    border: 1px solid black;
    height: 1px;
    text-align: center;
    width: 90%;
}
.icon{
    cursor: pointer;
}