.footer-section{
    margin-top: 60px;
}
.footer-menu a{
    line-height: 46px;
}

.contact-info{
    line-height: 32px;
}

.input{
    border: 2px solid #3ee0aa;
    width: 350px;
}

.top-footer{
    margin: 30px 80px 80px 80px;
}

.middle-footer{
    padding: 30px 80px;
}

.google-map{
    margin-left: -50px;
}

.bottom-footer{
    margin: 0 80px;
}

hr{
    border: 1px solid black;
    height: 1px;
    text-align: center;
    width: 90%;
}
.icon{
    cursor: pointer;
}


@media only screen and (max-width: 600px) {

    .top-footer{
        flex-direction: column;
    }
    .top-footer{
        margin: 10px;
    }

    .input{
        width: 100%;
    }

    .subscribe-btn{
        padding: 10px ;
    }

    .middle-footer{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 10px;
    }

    .google-map {
        margin: 0;
    }
    
    .bottom-footer{
        margin: 0;
        padding: 10px;
    }

    .bottom-footer p{
        font-size: 15px;
    }
        
}