.menu a{
    border-bottom: 3px solid transparent;
}

.menu a:hover{
    border-bottom: 3px solid #10B981;
    transition: 0.9s ease;
}

.user-image {
    border-radius: 50px;
    height: 50px;
}

.user-toggle {
    width: 160px;
    background-color: rgb(235, 232, 232);
    text-align: center;
    padding: 20px 0;
    position: absolute;
    top: 11%;
    left: 84%;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {

    .header{
        display: block;
    }

}