.menu a{
    border-bottom: 3px solid transparent;
}

.menu a:hover{
    border-bottom: 3px solid #10B981;
    transition: 0.9s ease;
}


.user-toggle {
    width: 160px;
    background-color: rgb(235, 232, 232);
    text-align: center;
    padding: 20px 0;
    position: absolute;
    top: 13%;
    left: 83%;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {

    .header{
        display: block;
    }

    .online-book{
        display: none;
    }

    .user-email{
        background-color: lightgrey;
        padding: 10px;
        margin-top: 10px;
    }

    .menu{
        margin-top: 20px;
        padding-left: 10px;
    }
}